<div class="container" ng-style="bgStyle">

    <div class="header">
        <h1>Randemojinator</h1>
        <p>Generate cool, randomized emojis.</p>
    </div>

    <div class="emojicontainer">
        <div class="clickhandler" ng-click="update()">
            <img id="background" src="/assets/images/background{{emoji.background}}.png" alt="background">
            <img id="mouth" src="/assets/images/mouth{{emoji.mouth}}.png" alt="mouth">
            <img id="eyeleft" src="/assets/images/eyeleft{{emoji.eyeleft}}.png" alt="eyeleft">
            <img id="eyeright" src="/assets/images/eyeright{{emoji.eyeright}}.png" alt="eyeright">
            <img id="extra" src="/assets/images/extra{{emoji.extra}}.png" alt="extra">
            <canvas id="canvas"></canvas>
        </div>
    </div>

    <div class="share-container">
        <ul class="btn-share clearfix">
            <li><a href="#" ng-click="encodeURL()" class="button share entypo-share"></a></li>
            <li><a ng-href="https://twitter.com/intent/tweet?text=I just generated this cool emoji {{absurl}} using randemojinator.co" class="button twitter entypo-twitter" target="_blank"></a></li>
            <li><a ng-href="https://www.facebook.com/dialog/share?app_id=1148515425175133&display=popup&href={{absurl}}&redirect_uri=http%3A%2F%2Frandemojinator.co" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="button facebook entypo-facebook" target="_blank"></a></li>
            <li><a ng-href="https://plus.google.com/share?url={{absurl}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="button google entypo-gplus" target="_blank"></a></li>
        </ul>
    </div>

    <div class="infos">
        <p>Don't like it? Just tap on it.</p>
    </div>

    <footer>
        <p>Created by <a href="https://twitter.com/RAN3000" target="_blank">@ran3000</a> and <a href="https://instagram.com/zaninelli.andrea" target="_blank">@zaninelli.andrea</a>.</p>
    </footer>

    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=52627_80468_3&type=slider&position=center&animate=off&side=right&size=160x600'></script>
    <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=52627_80468_4&type=slider&position=center&side=left&size=160x600'></script>

</div>
