// Entypo pictograms by Daniel Bruce — www.entypo.com

.share-container a {
	text-decoration: none;
}

.share-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.share-container .clearfix { *zoom: 1; }
.share-container .clearfix:before,
.share-container .clearfix:after {
	content: "";
	display: table;
}
.share-container .clearfix:after { clear: both; }

.share-container {
	height: 64px;
	width: 384px;
}

/* ---------- SHARE-BUTTON ---------- */

.share-container .button {
	border-radius: 8px;
	color: #fff;
	display: block;
	font-size: 24px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -moz-transform .2s;
	-ms-transition: -ms-transform .2s;
	-o-transition: -o-transform .2s;
	transition: all .2s;
  -webkit-transform: translateZ(1);
	width: 64px;
}

.share-container .button:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

.svg {
	width: 30px;
	display: inline-block;
	height: 30px;
	margin-top: 8px;
}

.share-container .share {
	background: #444;
	box-shadow: 0 4px 0 darken(#444, 10);
	width: 384px;
}
.entypo-share:before{
	content:url("/assets/share.svg");
}

.share-container .twitter {
	background: #00acee;
	box-shadow: 0 4px 0 darken(#00acee, 10);
}
.entypo-twitter:before{
	content:url("/assets/twitter.svg");
}

.share-container .facebook {
	background: #3B5998;
	box-shadow: 0 4px 0 darken(#3B5998, 10);
}
.entypo-facebook:before{
	content:url("/assets/facebook.svg");
}

.share-container .google {
	background: #CC3732;
	box-shadow: 0 4px 0 darken(#CC3732, 10);
}
.entypo-gplus:before{
	content:url("/assets/google+.svg");
}

.share-container .download {
	background: #94ed88;
	box-shadow: 0 4px 0 darken(#94ed88, 10);
}
.entypo-download:before{
	content:url("/assets/download.svg");
}

.share-container .btn-share {
	display: inline-block;
	position: relative;
}

.share-container .btn-share li {
	float: left;
	margin: 0 8px;
}

.share-container .btn-share li:first-child {
	margin-left: 0;
	position: absolute;
}

.share-container .btn-share li:nth-child(2) {
	margin: 0 8px 0 80px;
}

.share-container .btn-share li:nth-child(3) {
	margin: 0 8px 0 8px;
}

.share-container .btn-share li:last-child {
	margin: 0 0 0 8px;
}
