/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@media (max-height: 700px) {
    .container, .about-cont {
        height: 700px !important;
    }
    .clickhandler {
        top: 330px !important;
    }
}

@media (max-width: 700px) {
    .header h1, .about-cont h1 {
        font-size: 2em !important;
    }
    .header p {
        margin-top: 0 !important;
    }
}

@media (max-width: 1100px) {
    #rh-bnr-wrp_52627_80468_3, #rh-bnr-wrp_52627_80468_4 {
        display: none !important;
    }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-width: 425px;
  height: 100vh;
  background-color: #F6511D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > .header {
      width: 100%;
      & h1 {
          font-size: 5em;
          color: white;
          padding-top: 20px;
          text-align: center;
      }
      & p {
          margin-top: -1.5em;
          font-size: 2em;
          color: rgba(255,255,255,0.6);
          text-align: center;
      }
  }

  & .emojicontainer {
      height: 35%;
      & .clickhandler {
          position: absolute;
          top: 50vh;
          margin-top: -80px;
          margin-left: -80px;
          width: 160px;
          height: 160px;
      }
      &  img {
          display: none;
      }
  }

  & .emojicontainer * {
      outline: none;
  	  -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  & canvas {
      position: absolute;
  }

  & .infos {
      font-size: 2em;
      text-transform: uppercase;
      color: rgba(255,255,255,0.6);
      font-weight: 900;
      text-align: center;
      line-height: 1em;
  }

  & footer {
      color: rgba(255,255,255,0.5);
      text-align: center;
      line-height: 1.5em;
      & p a {
          color: rgba(255,255,255,0.7);
          &:hover {
              border-bottom: solid 2px;
          }
      }
      & .about {
          color: rgba(255,255,255,0.7);;
          border-radius: 4px;
          border: 2px solid rgba(255,255,255,0.7);;
          padding: 3px 6px;
          transition: .2s ease;
          margin-left: 10px;
          &:hover {
              background-color: rgba(255,255,255,0.3);
          }
      }
  }
}

.about-cont {
    width: 100%;
    height: 100vh;
    background-color: #F6511D;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-cont {
        max-width: 500px;
        text-align: center;
    }

    & h1 {
        color: white;
        font-size: 3em;
    }
    & p {
        color: rgba(255,255,255,0.5);
        line-height: 1.8em;
        font-size: 1.2em;
    }
    a {
        color: rgba(255,255,255,0.7);
        border-radius: 4px;
        border: 2px solid rgba(255,255,255,0.7);;
        padding: 3px 6px;
        transition: .2s ease;
        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
}

@import "_share.scss";

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
